{% extends 'base.html' %}

{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'animals/style.css' %}">
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function (){
            // get correct select list for animal type
            $(".breed_choice").hide();
            $(".breed_choice").prop('disabled', 'disabled');

            type = $("select#animal_type").text();
            $("#dog_breeds").show();
            $("#dog_breeds").removeAttr('disabled');

            $("select#animal_type").change(function(){
                type = $(this).children("option:selected").val();
                $(".breed_choice").hide();
                $(".breed_choice").prop('disabled', 'disabled');

                if(type == 'Cat') {
                    $("#cat_breeds").show();
                    $("#cat_breeds").removeAttr('disabled');

                } else if (type == 'Bird') {
                    $("#bird_breeds").show();
                    $("#bird_breeds").removeAttr('disabled');

                } else if (type == 'Dog') {
                    $("#dog_breeds").show();
                    $("#dog_breeds").removeAttr('disabled');
                }
            });
        });

    </script>
{% endblock %}

{% block title %}Animal-dex Add Pet{% endblock %}

{% block content %}

<h1>Add a Pet!</h1>
<p>{{ form.errors }}</p>
<form action="{% url 'add_pet' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="animal_type">Animal Type</label>
        <select class="form-control" id="animal_type" name="animal_type">
            <option>Dog</option>
            <option>Cat</option>
            <option>Bird</option>
        </select>
    </div>

    <div class="form-group">
        <label>Animal Breed</label>
        <select class="form-control breed_choice" id="dog_breeds" name="animal_breed">
            {% for dog in dogs %}
                <option value="{{ dog.id }}">{{ dog.name }}</option>
            {% endfor %}
        </select>
        <select class="form-control breed_choice" id="cat_breeds" name="animal_breed">
            {% for cat in cats %}
                <option value="{{ cat.id }}">{{ cat.name }}</option>
            {% endfor %}
        </select>
        <select class="form-control breed_choice" id="bird_breeds" name="animal_breed">
            {% for bird in birds %}
                <option value="{{ bird.id }}">{{ bird.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="pet_name">Pet Name</label>
        <input type="text" class="form-control" id="pet_name" name="pet_name" placeholder="Enter your pet name">
    </div>

    <div class="form-group">
        <label for="pet_bio">Pet Bio</label>
        <textarea class="form-control" id="pet_bio" name="pet_bio" rows="3" placeholder="Short summary of your pet!"></textarea>
    </div>

    <div class="form-group">
        <label for="pet_image">Upload Pet Image</label>
        <input type="file" class="form-control-file" id="pet_image" name="pet_image">
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
    <a href="{% url 'pets_index' %}">Back to Pets</a>
</form>


{% endblock %}
