{% extends 'base.html' %}

{% load humanize %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'animals/style.css' %}">
<style>
    /* taken from https://codepen.io/depy/pen/vEWWdw */
    .text-center {text-align:center;}

    .success-box {
        margin:50px 0;
        padding:10px 10px;
        border:1px solid #eee;
        background:#f9f9f9;
    }

    .success-box img {
        margin-right:10px;
        display:inline-block;
        vertical-align:top;
    }

    .success-box > div {
        vertical-align:top;
        display:inline-block;
        color:#888;
    }


    /* Rating Star Widgets Style */
    .rating-stars ul {
        list-style-type:none;
        padding:0;

        -moz-user-select:none;
        -webkit-user-select:none;
    }
    .rating-stars ul > li.star {
        display:inline-block;

    }

    /* Idle State of the stars */
    .rating-stars ul > li.star > i.fa {
        font-size:2.5em; /* Change the size of the stars */
        color:#ccc; /* Color on idle state */
    }

    /* Hover state of the stars */
    .rating-stars ul > li.star.hover > i.fa {
        color:#FFCC36;
    }

    /* Selected state of the stars */
    .rating-stars ul > li.star.selected > i.fa {
        color:#FF912C;
    }

    .container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .animal-box {
        justify-content: center;
    }

</style>
{% endblock %}

{% block js %}
<script type="text/javascript" src=""></script>
{% endblock %}

{% block title %}Animal-dex Pet{% endblock %}

{% block content %}
{% csrf_token %}
<div class="container" id="rate-panel">
    <div class="panel panel-default col-md-6 col-md-offset-3">
        <h1>Rate {{ pet.name }} !</h1>
        <div class="animal-box">

            <img src="{{ pet.user_image.url }}" alt="Avatar" onerror="this.src='https://user-images.githubusercontent.com/24848110/33519396-7e56363c-d79d-11e7-969b-09782f5ccbab.png'" style="width:100%">
            <span class='animal-title'>{{ pet.name }}</span>
        </div>

        <h4>Current Rating: {{ pet.get_average_rating|floatformat:2|intcomma }} / 5 </h4>

        <hr>

        <h4>Bio:</h4>
        <h5>{{ pet.bio }} </h5>

        <hr>

        <section class='rating-widget'>
            <!-- Rating Stars Box -->
            <div class='rating-stars text-center'>
            <ul id='stars'>
                <li class='star' title='Poor' data-value='1'>
                <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='Fair' data-value='2'>
                <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='Good' data-value='3'>
                <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='Excellent' data-value='4'>
                <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='WOW!!!' data-value='5'>
                <i class='fa fa-star fa-fw'></i>
                </li>
            </ul>
            </div>
        </section>
    </div>



</div>


{% endblock %}
