<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Animal-dex Login{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Logged in as: {{ user.username }}
  <p><a href="{% url 'logout' %}">logout</a></p>
  <p><a href="{% url 'password_reset' %}">reset password</a></p>
{% else %}
  <h1 align="center">
    <font size="6">You are not logged in!</font>
  </h1>
  <body>
    <br>
    <br>
    <br>
  <p align="center">
    <font size="6">
      <a href="{% url 'login' %}">Login</a> | <a href="{% url 'signup' %}">Sign up</a>
    </font>
  </p>
  </body>
{% endif %}
{% endblock %}
