{% extends 'animals/animal-base.html' %}

{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'animals/style.css' %}">

{% endblock %}

{% block title %}Animal-dex{% endblock %}

{% block content %}

<h1>{{animal.name }}</h1>
<img src="{{ animal.image_url }}" alt="Avatar" style='max-width: 500px'>
<p> <b>Summary: </b> {{animal.summary}} </p>

{% for field,value in animal_dict.items %}
  {% if value %}  {# Only render info if the value is not empty #}
    <p> <b>{{field}} </b> {{value}} </p>
  {% endif %}
{% endfor %}

{% if isSpotted %}
  <p>You have spotted this animal</p>
  <p>Do you want to unspot this animal?</p>
  {% if animal.cat %}
      <a href= {% url 'unspot' 'cat' animal.slug%}>
  {% elif animal.dog %}
      <a href= {% url 'unspot' 'dog' animal.slug%}>
  {% elif animal.bird %}
      <a href= {% url 'unspot' 'bird' animal.slug%}>
  {% endif %}
  <button class="btn btn-secondary unspot-button" type="button">Unspot</button></a>
{% else %}
  <p>Have you spotted this animal?</p>
  {% if animal.cat %}
      <a href= {% url 'spot' 'cat' animal.slug%}>
  {% elif animal.dog %}
      <a href= {% url 'spot' 'dog' animal.slug%}>
  {% elif animal.bird %}
      <a href= {% url 'spot' 'bird' animal.slug%}>
  {% endif %}
  <button class="btn btn-primary spot-button" type="button">Spot</button></a>
{% endif %}

<br>
<hr>

{% if pets %}
    <h4>User pets: </h4>
    {% for pet in pets %}
        <div class="animal-box">
            <a href="{% url 'rate' pet.id%}" style="display:flex"><img src="{{ pet.user_image.url }}" alt="Avatar" onerror="this.src='https://user-images.githubusercontent.com/24848110/33519396-7e56363c-d79d-11e7-969b-09782f5ccbab.png'" style="width:100%;"></a>
            <span class='animal-title'>{{ pet.name }}</span>
        </div>
    {% endfor %}
{% endif %}
{% endblock %}

{% block search %}
<form class="form-inline my-2 my-lg-0" action="/animals/search" method="get">
    <input class="form-control mr-sm-2" type="search" name="q" id="q" value="{{search_term}}" placeholder="Search for animals" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
{% endblock %}
