{% load static %}
{% if animals %}
    <ul class="infinite-container">
        {% for animal in animals %}
            <!-- There is probably a better way to do this but idk how -->
            {% if animal.cat %}
                <a class="infinite-item" href= {% url 'cat_detail' animal.slug%}>
            {% elif animal.dog %}
                <a class="infinite-item" href= {% url 'dog_detail' animal.slug%}>
            {% elif animal.bird %}
                <a class="infinite-item" href= {% url 'bird_detail' animal.slug%}>
            {% endif %}
                <div class="animal-box">
                    <span class='animal-badge'>
                        <!-- This too  -->
                        {% if animal.cat %}
                            <img src="{% static 'animals/cat-icon.png' %}" alt="Cat" style="width:100%">
                        {% elif animal.dog %}
                            <img src="{% static 'animals/dog-icon.png' %}" alt="Dog" style="width:100%">
                        {% elif animal.bird %}
                            <img src="{% static 'animals/bird-icon.png' %}" alt="Bird" style="width:100%">
                        {% endif %}
                    </span>

                    <img src="{% static 'images/'%}{{animal.slug}}.jpg" alt="Avatar" onerror="this.src='https://user-images.githubusercontent.com/24848110/33519396-7e56363c-d79d-11e7-969b-09782f5ccbab.png'" style="width:100%">
                    <span class='animal-title'>{{ animal.name }}</span>
                </div>
            </a>
        {% endfor %}
    </ul>

    {% if animals.has_next %}
        <a class="infinite-more-link" href="?page={{ animals.next_page_number }}">More</a>
    {% endif %}

    <div class="loading" style="display: none;">
        Loading...
    </div>

    <script>
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            onBeforePageLoad: function () {
            $('.loading').show();
            },
            onAfterPageLoad: function ($items) {
            $('.loading').hide();
            }
        });
    </script>
{% else %}
    <p>No animals are available.</p>
{% endif %}
