{% extends 'base.html' %}

{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'animals/style.css' %}">
{% endblock %}

{% block title %}Animal-dex{% endblock %}


{% block content %}

<h1>{{ page_title }}</h1>

<form action="{{ search_action }}" method="get" class="search-form">
    <input type="search" name="q" id="q" value="{{search_term}}" placeholder="{{ placeholder }}">
</form>

{% include "animals/display.html" %}


<div class='credits'>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"                 title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"                 title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
{% endblock %}
