main {
    padding: 20px;
    padding-top: 65px;
}

#search-box {
    display: none;
}

/* nav bar collapse into menu button */
@media screen and (max-width: 991.98px) {
    #search-box-nav {
        display: none;
    }
    #search-box {
        display: inline;
    }
}

.score {
    display: block;
    font-size: 16px;
    position: relative;
    overflow: hidden;
}

.score-wrap {
    display: inline-block;
    position: relative;
    height: 19px;
}

.score .stars-active {
    color: #EEBD01;
    position: relative;
    z-index: 10;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.score .stars-inactive {
    color: grey;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-text-stroke: initial;
    /* overflow: hidden; */
}
